<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FingerprintUnlockPaymentDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8988E04C1C9FC0DB006770C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8988E0681C9FC0DC006770C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8988E0731C9FC0DC006770C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
